@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --primary-color: #007AF3;
}
body {
    background-color:#F2F2F2;
    margin: 0;
    font-family: "Poppins";
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.Up {
    position: fixed;
    right: 28px;
    bottom: 28px;
    width: 40px;
    height: 40px;
    justify-content: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    display: none;
.GoUp {
    position:fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: rgb(201, 29, 52);
    display: none;

}
}
.logo {
    text-decoration: none;
    font-weight:bold;
    color: black;
    font-size: 1.2em;
    

    span {
        color: white;
    }
}
.navbar {
    background-color: white;
    padding: 1em;
    .logo {
        text-decoration: none;
        font-weight:bold;
        color: black;
        font-size: 1.2em;
        

        span {
            color: #007AF3;
        }
    }
    .container {
        display: flex;
        place-content: space-between;
    }
    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: white;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.Hero {
    text-align: center;
    background-color: white;
    span {
        color: var(--primary-color);
    }
}

.left-col {
    p {
        color: black;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 5s forwards;
    }

    .suphead {
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }
    .primary-cta {
        text-transform: uppercase;
        letter-spacing: 0.3em;
        background-color: #007AF3;
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }
    img {
        margin-right: .5em;
        font-family:  monospace;
    }
}
h4 {
    place-content: center;
    text-align: center;
    position: relative;
    width: max-content;
    margin: auto;
}
h4::before,
h4::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
h4::before {
    background: white;
    animation: typewriter 4s steps(48) forwards 1s;
}
h4::after {
    width: .125em;
    background: black;
    animation: typewriter 4s steps(48) forwards 1s, 
    blink 1000ms steps(48) infinite;

}

@keyframes typewriter {
    to {left: 100%}
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.OP {
    color: white;
    background-color: rgb(0, 0, 22);
    background-image:url(https://wallpapercave.com/wp/wp8345945.png), 
    url(https://images3.alphacoders.com/106/thumb-1920-1062991.jpg), 
    url(https://wallpapercave.com/wp/wp7074888.png);
    background-size: 1500px 1000px;
    background-position: top, center, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    text-align: center;
    .OP1 {
    
        letter-spacing: .3em;
        background-color: rgb(71, 248, 71);
        text-decoration: none;
        padding: .6em 1.3em;
        border-radius: 5em;
        display: inline-block;
        font-weight:500;
        margin-bottom: .4em;
    }
    .OP2 {
        background-color: rgb(190, 1, 1);
        padding: .6em 1.3em;
        border-radius: 5em;
        text-decoration-color: none;
        margin-bottom: .4em;
        display: inline-block;
        font-weight: 500;
        letter-spacing: .3em;
    }
    .OP3 {
        letter-spacing: .3em;
        font-weight: 500;
        text-decoration-color: none;
        margin-bottom: .4em;
        background-color: rgb(252, 252, 45);
        padding: .6em 1.3em;
        border-radius: 5em;
        display: inline-block;
    }
    .OP4 {
        letter-spacing: .3em;
        text-transform: uppercase;
        background-color: rgb(190, 1, 1);
        padding: .6em 1.3em;
        border-radius: 5em;
        text-decoration-color: none;
        margin-bottom: .4em;
        display: inline-block;
        font-weight: 500;
    }
    .OP5 {
        letter-spacing: .3em;
        color: black;
        text-transform: uppercase;
        background-color: white;
        padding: .6em 1.3em;
        border-radius: 5em;
        text-decoration-color: none;
        margin-bottom: .4em;
        display: inline-block;
        font-weight: 500;
    }
    .an {
        font-size: 1.3em;
    }
}

.song {
    text-align: center;
    color: white;
    background-image: url(https://i.pinimg.com/originals/46/c6/70/46c670b28625886226f1fdd154e4e78e.jpg);
    img {
        width: 200%;;
    }
    .column1 {
        float: left;
        width: 40%;
        padding: 10px;
        height: 300px;
    }
    .column2 {
        
        float:right;
        width: 50%;
        padding: 10px;
        height: 200px;
    }
    .row::after {
        content: "";
        display: table;
        clear: both;
    }    
    li {
        
        background-color: rgb(76, 49, 145);
        border-style:groove;
        display:table;
        border-color: rgb(90, 7, 184);
        border-radius: 5px;
    }
    p {
        background-color: rgb(76, 49, 145);
        border-style: groove;
        border-color: rgb(113, 13, 228);
        border-radius: 5px;
        display: inline-block;
    }
    .tr {
        text-decoration-color: none;
        background-color: rgb(76, 49, 145);
        margin-top: 3em;
        font-weight: 500;
        letter-spacing: .1em;
        padding: .3em 1em;
        border-radius: 5em;
        display:inline-block;   
    }
    a {
        &:hover {
            font-weight: bold;
        }
    }
}
.quotes {
    background-color: #007AF3;
    color: white;
    text-align: center;
    img {
        width: 5em;
        height: 5em;
        background: #006BD6;
        border: 5px solid #006BD6;
        border-radius: 30%;
        margin-top: -4.5em;
    }
    li {
        background-color: #006BD6;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        text-transform: capitalize;
    }
}


.Food {
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/12/58/creative-pizza-icon-pattern-on-an-orange-gradient-vector-25121258.jpg);
    background-color: rgb(253, 92, 33);
    color: white;
    padding-bottom: 1em;
    p {
        text-transform: uppercase;
        background-color: rgb(247, 130, 35);
        display: inline-block;
        margin-left: 7.5em;
        padding: .6em 1.3em;
        border-radius: 5em;
    }
    img {
        margin-left: 7em;
    }
}
.You {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/328f13b6-a6aa-4ac5-a8de-b91640734cb2/d902xxo-970653d3-c375-4655-8c42-1e901387c859.jpg/v1/fill/w_1024,h_576,q_75,strp/youtube_logo_wallpaper___background_image___1080p_by_owenprescott_d902xxo-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvMzI4ZjEzYjYtYTZhYS00YWM1LWE4ZGUtYjkxNjQwNzM0Y2IyXC9kOTAyeHhvLTk3MDY1M2QzLWMzNzUtNDY1NS04YzQyLTFlOTAxMzg3Yzg1OS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.J4HpN9KL9A79_Cc7qGxhHwpYrQNEoXFMm-T9L2pvIco);
    background-size: 100px;
    color: white;
    text-align: center;
    p {
        text-transform: uppercase;
        background-color: rgb(243, 41, 41);
        display: inline-block;
        padding: .3em 1em;
        border-radius: 5em;
    }
    li {
        background-color: rgb(243, 41, 41);
        display:block;
        background-position-x: center;
        margin-top: 0.5em;
        margin-bottom: 0;
        margin-left: 9em;
        margin-right: 9em;
        border-radius: 0.3em;
    }
    a {
        &:hover {
            font-weight: bold;
        }
    }
}

.Car {
    color: white;
    background-color: rgb(41, 40, 40);
    .C1 {
        margin-left: 6em;
    }
    p {

        text-transform: uppercase;
        text-align: center;
        text-decoration-color: none;
        background-color: rgb(80, 79, 79);
        padding: .3em 1em;
        border-radius: 5em;
        display: inline-block;
        
        span {
            color: rgb(255, 230, 0);
            font-weight: bold;
        }
    }
}
.Shoe {
    background-color: black;
    color: white;
    .S1 {
        text-align: center;
    }
    span {
        color: var(--primary-color);
    }
    img {
        margin-left: 5em;
    }
    p {
        text-align: center;
        text-transform: uppercase;
    }
}
h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}
.H2 {
    text-align: center;
span {
    color: var(--primary-color);
}
}
.H3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
span {
    color: var(--primary-color);
}
}
.F {
    text-transform: uppercase;
    text-align: center;
    color: black;
    embed {
        margin-left: 1em;
    }
}
.anm{

    .an {
    height: 1000px; width: 520px;
    background: black; margin: auto;
    animation: matin 5s ease-in-out infinite;
    background-repeat: no-repeat;
    }    
        @keyframes matin{
      0%{background-image: url(https://i.pinimg.com/564x/0a/3b/a2/0a3ba2ff6bc0fde5131d4e63439f0814.jpg);}
      50%{background-image: url(https://i.pinimg.com/564x/54/0c/2b/540c2bb128ac34fddbabe5ee05770701.jpg);}
      100%{background-image: url(https://i.pinimg.com/564x/2f/2b/cb/2f2bcb75b8620e1b6e57a3e84fca930e.jpg);}
    }
    @keyframes matin2{
        0%{background:black ;}
        100%{background: red;}
    }
    animation: matin2 5s ease-in-out ;
}
    .Game {
        background-image: url(https://images4.alphacoders.com/885/885543.jpg), 
        url(https://i0.wp.com/getwallpapers.com/wallpaper/full/e/c/f/936122-popular-good-minecraft-backgrounds-1920x1080-for-1080p.jpg), 
        url(https://wallpaperaccess.com/full/3669570.jpg);
        background-repeat:no-repeat, no-repeat, no-repeat;
        background-position: top, left center, bottom;
        z-index: 1, 3, 2;
        background-size: 1500px 1500px 0, 2000px 1500px , 2000px 1500px 0;
        padding: 3.5em;
        color: white;
        font-size: x-large;
        p{
            
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(134, 35, 247);
            display: inline-block;
            margin-left: 8em;
            padding: .6em 1.3em;
            border-radius: 5em;
        }
        
        .Ro{
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(134, 35, 247);
            display: inline-block;
            margin-left: 8em;
            padding: .6em 1.3em;
            border-radius: 5em;
        }
        .Mi{
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(209, 154, 34);
            display: inline-block;
            margin-left: 8em;
            padding: .6em 1.3em;
            border-radius: 5em;
        }
        
        .X1 {
            margin-left: 4em;
        }
        .F1 {
            text-align: center;
            text-transform: uppercase;
            background-color: rgb(88, 84, 94);
            display: inline-block;
            margin-left: 8em;
            padding: .6em 1.3em;
            border-radius: 5em;
            margin-left: 10em;
        }
        img {
            margin-left: 5em;
        }
    }

    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }


    .testimonials-section ul {
        display: flex;
        
        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;
        color: black;

        .container {
            display: flex;
        }
    }




//jdida jvere peva
header {
    height: 90px;
    background: var(--primary-color);
}

.inner-width {
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    i {
        display: none;
    }
}

.logo {
    float: left;
    .logo-png {
    height: 90px;

    }
}

.navigation-menu {
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    a{
        margin-left: 10px;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        padding: 12px 20px;
        border-radius: 4px;
        transition: .3s linear;
    }
    a:hover {
        background: #fff;
        color: var(--primary-color);
        transform: scale(1.1);
    }
}
.menu-toggle-btn {
    float: right;
    line-height: 90px !important;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 700px) {
    .menu-toggle-btn {
        position: relative;
        top: 0px;
        display: block !important;
    }

    .navigation-menu {
        position: fixed;
        width: 100%;
        max-width: 400px;
        background: var(--primary-color);
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
        z-index: 3;

        .navigation-menu::before {
            content: "";
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid red;
            position: absolute;
            top: -10px;
            right: 10px;
        }
        img {
            position: absolute;
            left: 10px;
            padding: 10px 0;
        }

        a {
            display: block;
            margin: 10px 0;
        }
    }
    .navigation-menu.active {
        display: block;
    }
    .song {
        text-align: center;
        color: white;
        background-image: url(https://i.pinimg.com/originals/46/c6/70/46c670b28625886226f1fdd154e4e78e.jpg);
        background-size: 1610px;
    }
    .OP {
        color: white;
        background-color: rgb(0, 0, 22);
        background-image:url(https://wallpapercave.com/wp/wp8345945.png);
        background-size: 1500px 1000px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 1800px;
        text-align: center;
    }
    .quotes {
        background-color: #007AF3;
        color: white;
        text-align: center;
        img {
            width: 5em;
            height: 5em;
            background: #006BD6;
            border: 5px solid #006BD6;
            border-radius: 30%;
            margin-top: -4.5em;
        }
        li {
            background-color: #006BD6;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
            text-transform: capitalize;
        }
    }
    .Game {
        background-image: url(https://images.unsplash.com/photo-1603009516102-14d93178f395?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
        background-repeat:no-repeat;
        background-size: 1000px;
        color: white;
        p{
        
            text-align: center;
            text-transform: capitalize;
            background-color: #e74c3c;
            display: inline-block;
            padding: .5em 1.3em;
            margin-bottom: 10px;
            border-radius: 5em;
        }
        
        .Ro{
            text-align: center;
            text-transform: capitalize;
            background-color: #e74c3c;
            margin-left: 35%;
            padding: .6em 1.3em;
            border-radius: 5em;
        }
        .Mi{
            text-align: center;
            text-transform: capitalize;
            background-color: #e74c3c;
            margin-left: 35%;
            padding: .6em 1.3em;
            border-radius: 5em;
        }
        
        .X1 {
            margin-left: 25%;
        }
        .F1 {
            text-align: center;
            text-transform: capitalize;
            background-color: #e74c3c;
            margin-left: 40%;
            padding: .6em 1.3em;
            border-radius: 5em;
        }
        img {
            margin-left: 5em;
        }
    }
}